.container-width {
    width: 1032px;
    margin: 0 auto;
    height: 100%;
}

.ov {
    overflow: hidden;
}

.fl {
    float: left!important;
}

.fr {
    float: right!important;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis-within-two-rows,
.ellipsis-within-four-rows {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.ellipsis-within-two-rows {
    -webkit-line-clamp: 2;
}

.ellipsis-within-four-rows {
    -webkit-line-clamp: 4;
}

.list-inshort-with-img {
    width: 446px;
    height: 100px;
}

.list-inshort-without-img {
    width: 654px;
    height: 50px;
}


/* 标题 */

.title-lg {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
}

.title-sm {
    color: #909399;
    font-size: 14px;
    display: inline;
}

.btn-primary {
    color: #fff;
    background-color: #009a61;
    border-color: #008151;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

.pointer {
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.link-color {
    color: #409EFF!important;
}

.hover-in-blue:hover {
    color: #007fff;
}

.shadow {
    box-shadow: 0.5px 0.866px 35px 0 rgba(223, 237, 254, 0.8);
}

.icon-margin {
    margin: 0 5px 0 0;
    color: #409EFF;
}

.padding-vertical {
    padding: 10px 0;
}

.padding-horizontal {
    padding: 0 10px;
}

.margin-vertical {
    margin: 10px 0;
}

.margin-bottom {
    margin: 0 0 10px 0;
}

.block-width {
    width: 75%;
    padding: 15px 20px;
    margin: 20px auto;
}

.fff {
    background-color: #fff;
}

.color {
    color: #ffcd31;
    /* color: #93d587;
    color: #8e71c7;
    color: #CDDB49;
    color: #F56C6C;
    color: #409EFF; */
}